html,
body {
  font-family: "Monteserrat", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white; 
  position: relative;
  

}

* {
  margin: 0;
  padding: 0;
}
.intro {
  top: 0;
  background: #49485a;
  padding-top: 0vh;
  
}
.intro p {
  color: #6c5b7b;

  -webkit-animation: fadein 3s; 
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #a6a6c2;
  height: 63px;
  font-size: 50px;
  text-decoration: unset;
  -webkit-animation: fadein 2s; 
}

nav > a {
  margin: 0 4%;
}

.work {
  background-color: #49485a;
  -webkit-animation: fadein 3s;

}

.work .work-header {
  margin-top: 50px;
  color: #c06c84;
  font-weight: normal;
  
}


.main-holder{
    width: 100vw;
    height: auto;
}

.row{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49485a
    
}

.picture{
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: #49485a;
    background-size: contain;
    height: 80%;
    width: 90%;
    -webkit-animation: fadein 3s; 
}

.first-picture{
    background-image: url('../image/NorthWoodsSnap.png');
}

.second-picture{
    background-image: url('../image/Webpagesnap.png');
}

.third-picture{
    background-image: url('../image/gridsnap.png');
}

.picture-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.row > *{
    width: 50%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6c5b7b;
    color: white;
    text-align: center;
    height: 65px;

  -webkit-animation: fadein 3s; 
  }

footer {
    padding: 20px;
    background: #22313f;
    color: #a6a6c2;
    line-height: 40px;
  }
  

  
  p > footer {
    color: #a6a6c2;
  }
  
  footer a {
    color: #a6a6c2;
  }
  

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
